* {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: -0.8px;
    color: #5F5F5F;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}

h1 {
    color: #000;
}

.main-head {
    height: 150px;
    background: #FFF;
}

.bg-admin {
    z-index: 1;
    position: absolute;
    background: #F9F9FB;
    right: 0;
    width: 85%;
    min-height: calc(100vh - 75px);
    border-radius: 80px 0px 0px 0px;
}

.form-control:focus {
    box-shadow: none;
}

.box {
    float: left;
    height: 15px;
    width: 15px;
    margin-top: 6px;
    clear: both;
}

.admin-input {
    filter: drop-shadow(1px 3px 8px #000);
}

.o40 {
    color: #AFAFAF !important;
}

.table {
    border-collapse: separate;
    border-spacing: 10px 6px;
}

.table-hard {
    display: table-cell;

    border-radius: 10px;
    background-color: #3B9FB9 !important;
    color: #ffffff;

    width: 80px;
    font-weight: 500;
}

.table-clay {
    display: table-cell;

    border-radius: 10px;
    background-color: #E96513 !important;
    color: #ffffff;

    width: 80px;
    font-weight: 500;
}

.table-grass {
    display: table-cell;

    border-radius: 10px;
    background-color: #3EBA7C !important;
    color: #ffffff;

    width: 80px;
    font-weight: 500;
}

.table-120px {
    width: 120px !important;
}

.table-160px {
    width: 160px !important;
}

.table-40px {
    width: 40px !important;
}

.table-60px {
    width: 60px !important;
}

.hard {
    background: #3B9FB9 !important;
}


.clay {
    background: #E96513 !important;
}

.msg-100 {
    color: #3EBA7C !important;
}

.gc-100 {
    color: #339966 !important;
}

.grass {
    background: #3EBA7C !important;
}


.admin-sidebar {
    box-sizing: border-box;
    z-index: 10 !important;
    height: calc(100vh - 5rem);
    ;
}

.sidenav {
    position: absolute;
    /* background-color: #000; */
    /* overflow-y: hidden; */
    /* padding-top: 20px; */
}

.color-2 {
    color: #5F5F5F;
}

.nav-link {
    color: #878787;
}

.nav-link:hover {
    color: #646464;
    background-color: #ABE3C7;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

li .pagination-button {
    color: #2c3e50;
    background: #fff;
    font-size: 22px;
    font-weight: 500;
    line-height: 38px;
    height: 38px;
    width: 80px;
    padding: 0;
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.pagination-outer {
    text-align: center;
}

.pagination {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}

.pagination li a.page-link {
    color: #2c3e50;
    background: #fff;
    font-size: 22px;
    font-weight: 500;
    line-height: 38px;
    height: 38px;
    width: 38px;
    padding: 0;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
    color: #27ae60;
    background: #fff;
    border-color: transparent;
}

.pagination li a.page-link:before {
    content: '';
    background-color: #27ae60;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(0);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}

.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:hover:before,
.pagination li.active a.page-link:before {
    opacity: 0.25;
    transform: scale(1.1);
}

.color-1 {
    color: #339966 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    border-radius: 10px;
    color: #339966;
    background-color: #ABE3C7;
}

.login {
    color: #444444;
    font-size: 45px;
    font-weight: 900;
}

.forgot-pass {
    color: #5F5F5F;
    text-decoration: none;
}

.rectwhite {
    position: absolute;
    width: 815.06px;
    height: 1199.74px;
    left: -20rem;
    top: -30rem;
    background: #EEFAF4;
    border-radius: 80px;
    transform: rotate(139.02deg);
    z-index: -999999;
}

.rectgreen {
    position: absolute;
    width: 815.06px;
    height: 1199.74px;
    left: -14rem;
    top: 2rem;
    background: #82D5AB;
    border-radius: 80px;
    transform: rotate(139.02deg);
    z-index: -999999;

}

#login_input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #5F5F5F;
    width: 60px;
}

.login_input_img {
    width: 35px;
    height: 100%;
}

.btn {
    border-radius: 10px !important;
}

.search-btn {
    border-radius: 0px 10px 10px 0px;
}

.main {
    padding: 0px 10px;
}

.navbar-brand {
    color: #339966 !important;
    font-size: 1.3rem;
}

.primary-green {
    color: #339966 !important;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 1300px) {
    .sidenav {
        display: none;
    }
}



@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 1368px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 80%;
    }

    .register-form {
        margin-top: 20%;
    }
}


.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.no-underline {
    text-decoration: none;
    color: #5F5F5F !important;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn {
    font-size: 22px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.btn-success {
    background-color: #3EBA7C !important;
    color: #fff;
}

.btn-green {
    background-color: #3EBA7C !important;
    color: #fff;
}

.btn-green-transparent:hover {
    background: #339966 !important;
    color: #fff !important;
}

.btn-green-transparent {
    background: transparent !important;
    border-color: #339966 !important;
    color: #3EBA7C !important;
}

.form-control {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #5F5F5F;
}

.form-control:focus {
    box-shadow: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #5F5F5F;
}

.u-green {
    color: #3EBA7C !important;
    text-decoration: underline !important;
    text-decoration-color: #3EBA7C !important;
}

.upload-box {
    border-style: dashed;
    border-color: #ABE3C7;
    padding: 5px;
    height: 250px;
}

.upload-bg {
    border-radius: 10px;
    background: #ABE3C7;
}

.file-upload {
    position: inherit;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
}